<%- include('partial/header.ejs') %>



    <main class="container">

        <%# If there are no posts, use if to show and ask to create new posts %>

            <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                <h1 class="display-4 fw-normal text-body-emphasis">Editar la información del producto</h1>
                <p class="fs-5 text-body-secondary">Escoja un producto para establecer cambios</p>
            </div>

            <%# full inner page %>
                <div class="container">


                    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                        <div class="row">

                            <%# add if statement here with both columns %>

                            <% if (locals.postedItems.length>0){ %>

                               

                                    <%# left column %>
                                    <div class="col-9">

                                        <% if (locals.chosenItem) {%>
                                            <h2>Estas modificando el producto # <%= chosenItem %></h2>
                                            <%# left column content %>
                                        <div class="col-md-12">
                                            <div
                                                class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                                                <div class="col p-4 d-flex flex-column position-static">
                                                    <strong class="d-inline-block mb-2 text-primary-emphasis">Posts
                                                        Editor</strong>
                                                    <h3 class="mb-0"> Nuevo Titulo del producto<%- chosenItem %></h3>

                                                    <form action="/edit-confirm" method="POST">

                                                        <input type="text" name="titulo"
                                                            placeholder="Ingrese el título del producto" required>
                                                        <div class="py-1"></div>
                                                        <h3>Nueva Descripcion del producto <%- chosenItem %></h3>
                                                        <textarea class="pt-10" cols="80" name="descripcion"
                                                            placeholder="Ingrese una descripcion del producto"
                                                            required></textarea>
                                                        <br>
                                                        <h3>NNuevo Precio del Producto <%- chosenItem %></h3>
                                                        <input type="number" name="precio" placeholder="Precio del Producto" required>
                                                        <br/>
                                                        
                                                        <button type="submit" class="btn btn-primary w-50 my-1"
                                                            value="OK">Confirmar Cambios</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <%# end of left column content %>
                                            
                                            <% }else { %>
                                            <h2>No has seleccionado productos para modificar</h2>

                                                <%# left column content %>
                                        <div class="col-md-12">
                                            <div
                                                class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                                                <div class="col p-4 d-flex flex-column position-static">
                                                    <strong class="d-inline-block mb-2 text-primary-emphasis">No has elegido productos para modificar</strong>
                                                    <h3 class="mb-0">Escoge un producto para modificar</h3>

                                                </div>
                                            </div>
                                        </div>
                                        <%# end of left column content %>

                                        <% } %>
                                        
                                        

                                    </div>
                                    <%# end of left column %>

                                    <%# right column starts %>
                                    <div class="col-3">
                                                <h2>Inventario</h2>
                                                <% for(let i=postedItems.length; i>0; i--) {%>
                                                    <form action="/edit" method="POST" class="buttons">
                                                        <button value="<%- i %>" name="choice">
                                                            <h4>
                                                                <%= postedItems[i-1].titulo %> post id <%- i %>
                                                                        </h3>
                                                        </button>
                                                        <br>
                                                    </form>
                                                    <% }%>
                                            </div>
                                    <%# right column ends %>
                                
                            <% } else { %>

                                <%# left column %>
                                <div class="col-9">

                                    <div class="col-md-12">
                                        <div
                                            class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                                            <div class="col p-4 d-flex flex-column position-static">
                                                <strong class="d-inline-block mb-2 text-primary-emphasis">No hay productos en el inventario</strong>
                                                <a href="/"><h3 class="mb-0">Añadir un producto al inventario</h3></a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <%# end of left column %>

                                <%# right column starts %>
                                <div class="col-3">
                                            <h2>TNo hay productos para mostrar</h2>
                                        </div>
                                <%# right column ends %>
                                
                            <% } %>

                            <%# end if statement here with both columns %>

                                    

                        </div>

                    </div>





                </div>

    </main>

   

    <%- include('partial/footer') %>